body {
  font-family: "Roboto" !important;
}

.top-header {
  background-color: #f7f7f7;
  padding: 1px 5em;
  font-size: 0.8em;
}

.top-header .btn {
  text-decoration: none;
  color: #ff5100;
  font-size: 0.9em;
}

.header-section {
  background-color: #f9f9f9ab;
  padding: 1.6em 0;
  border-bottom: 1px solid #e7e7e7;
}

.navbar-nav {
  flex-direction: row !important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: large;
  color: #212121 !important;
  font-weight: 500;
  font-size: 20px;
}

#navbarNav a:hover {
  color: #ff5100 !important;
}

svg {
  fill: #424242;
}

svg:hover {
  fill: #ff5100;
}

.bg-menu {
  background-color: white;
}

.section-title {
  text-align: center;
  padding: 2em 0 1em 0;
}

.newIn-products-container {
  padding-bottom: 2em;
  flex-wrap: wrap;
}

.gray-text {
  color: #808080;
}

.small-text {
  font-size: 13px;
}
.card-body a {
  text-decoration: none;
  color: #212121;
  text-align: center;
}

.card-body a:hover {
  color: #ff5100;
}

.card-title {
  padding: 15px 0 1px 0;
  font-weight: 300;
  font-size: 18px;
}

.btn-orange {
  background-color: white !important;
  border-color: #ff5100 !important;
  color: #ff5100 !important;
}

.btn-orange:hover {
  background-color: #ff5100 !important;
  color: white !important;
}

.butons-card {
  text-align: center;
}

.spaces {
  margin: 2em 0;
}

.brands {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.brands img {
  width: 120px;
  padding: 3px;
}

.brands img:hover {
  filter: opacity(70%);
}

.bg-footer {
  background-color: #000000e0;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: white;
}

.bottom-footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.product-details {
  display: flex;
  gap: 10%;
}
.icons {
  display: flex;
  gap: 5%;
}

.details-section {
  display: flex;
  flex-direction: column;
}

.cart-page {
  display: flex;
  justify-content: space-between;
}

.cart-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-cart {
  width: 60%;
  align-items: center;
  display: flex;
  gap: 20px;
}

.delete,
.deleteDiscount {
  border-radius: 0.25rem;
  padding: 0 2px;
}

.delete:hover {
  color: #212121 !important;
  background-color: white !important;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 20px;
}

.products-by-brand,
.products-by-category {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid white !important;
}

.background-table {
  margin-top: 20px;
  font-size: 0.9em;
  border-radius: 10px;
}

.header-table {
  background-color: #212121;
  color: white;
  font-size: 1.1em;
}

.header-table tr th {
  padding: 10px 5px;
}

tr {
  vertical-align: middle;
}

.all-products-admin .table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: rgba(249, 249, 249);
  color: var(--bs-table-striped-color);
}

.btn-align-center {
  display: flex;
  align-content: center;
  font-size: 1.2em;
  padding: 4px 0;
}

tbody a {
  text-decoration: none;
  color: #212121;
}
tbody a:hover {
  color: #ff5100;
}

.forms {
  display: flex;
  flex-wrap: wrap;
}

.form-section {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 1em;
}

.form-control {
  border: none !important;
  border-bottom: 1px solid #bebebe !important;
  margin-bottom: 1em;
}

.sort {
  display: flex;
  justify-content: center;
  gap: 1em;
  cursor: pointer;
  margin-bottom: 2em;
}

.sort div:hover {
  color: #ff5100;
}

.dropdown-item.active {
  background-color: #ff5100 !important;
}

.dropdown-item:focus {
  background-color: #ff5100a4 !important;
  color: white !important;
}

.nrProdCart {
  padding: 3px 4px;
  border: 3px solid #ff5100;
  border-radius: 50%;
  font-size: 13px;
  background-color: #ff5100;
  text-align: center;
  color: #ffffff;
}
